section {

  .members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 10px;

  h4 {
    font-size: 1vw;
    font-weight: normal;
  }

  p {
    padding: 5px 0;
    text-align: center;
    font-size: 0.75vw !important;

    a {
      font-size: inherit !important;
    }
  }

    .member {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: space-between;

      .container {

        width: 15vw;

        img {
          border-radius: 5px;
          object-fit: contain;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}

// for tablet mode
@media (max-width: 1024px) {
  .members {
    grid-template-columns: 1fr !important;
    padding-bottom: 10px !important;

    .text {
      h4 {
        font-size: 17px !important;
      }
  
      p {
        font-size: 15px !important;
      }
    }

    .container {
      width: 25vw !important;
    }
  }
}

// for phone
@media (max-width: 600px) {
  .member {
    grid-template-columns: 1fr !important;
    padding-bottom: 25px !important;

    .container {
      width: 40vw !important;
      justify-self: center;
    }
  }
}