section .members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 10px;
}
section .members h4 {
    font-size: 1vw;
    font-weight: normal;
}
section .members p {
    padding: 5px 0;
    text-align: center;
    font-size: 0.75vw !important;
}
section .members p a {
    font-size: inherit !important;
}
section .members .member {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}
section .members .member .container {
    width: 15vw;
}
section .members .member .container img {
    border-radius: 5px;
    object-fit: contain;
}
section .members .member .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 1024px) {
    .members {
        grid-template-columns: 1fr !important;
        padding-bottom: 10px !important;
    }
    .members .text h4 {
        font-size: 17px !important;
    }
    .members .text p {
        font-size: 15px !important;
    }
    .members .container {
        width: 25vw !important;
    }
}
@media (max-width: 600px) {
    .member {
        grid-template-columns: 1fr !important;
        padding-bottom: 25px !important;
    }
    .member .container {
        width: 40vw !important;
        justify-self: center;
    }
}