* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 3.2vw;
    padding: 15px;
    margin-top: 15px;
    color: #00487e;
    text-align: center;
}

section {
    font-family: "Quicksand", sans-serif;
    margin: 15px 20vw;
}
section h2, section h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #00487e;
    border-bottom: #00487e solid 1px;
}
section h2 {
    font-size: 2.7vw;
}
section h3 {
    font-size: 2.5vw;
}
section p, section p ul, section p ol, section a {
    padding: 15px 0;
    text-align: justify;
    font-size: 1.15vw;
}
section p li, section p ul li, section p ol li, section a li {
    font-size: 1.15vw;
    text-align: justify;
}
section .fig {
    font-size: 1vw;
    padding: 15px 25px;
    line-height: 1.4;
}
section a {
    text-decoration: none;
    color: #195a8a;
}
section img {
    max-width: 100%;
    height: auto;
    padding: 2.5vw;
}

header {
    background-color: #00487e;
    background-image: url("../images/navigation/banner_background_light_small.jpg");
    background-size: cover;
    width: 100vw;
    height: 80px;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
header .logo {
    padding: 0 15px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}
header .logo img {
    max-height: 80px;
    object-fit: contain;
    padding: 5px 0;
    z-index: -1;
}
header .logo a {
    position: absolute;
    padding: 20px 0;
    text-decoration: none;
    color: #f4f4f4;
}
header .logo a:hover {
    color: #edd59d;
}
header ul {
    display: flex;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}
header ul li {
    margin: 0 3px;
    padding: 20px 17px;
}
header ul li a {
    text-decoration: none;
    color: #f4f4f4;
}
header ul li a:hover {
    color: #edd59d;
}

footer {
    background-color: #00487e;
    background-image: url("../images/navigation/banner_background_light_small.jpg");
    background-size: cover;
    width: 100vw;
    height: 120px;
    font-family: "Quicksand", sans-serif;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
footer div {
    padding: 15px;
}
footer div h3 {
    color: #edd59d;
}
footer div a {
    text-decoration: none;
    color: #f4f4f4;
}
footer div a:hover {
    color: #edd59d;
    cursor: pointer;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 4vw;
    }

    section {
        margin: 15px 15vw;
    }
    section h2 {
        font-size: 3.5vw;
    }
    section h3 {
        font-size: 3vw;
    }
    section p, section p ul, section p ol {
        font-size: 2vw;
    }
    section p li, section p ul li, section p ol li {
        font-size: 2vw;
    }
    section .fig {
        font-size: 1.5vw;
    }

    header {
        display: block;
    }
}
@media (max-width: 900px) {
    section {
        margin: 15px 10vw;
    }

    header {
        height: 160px;
    }
    header .logo {
        padding: 40px;
    }
    header ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 40px;
    }
    header ul li {
        padding: 20px 7px;
    }

    footer {
        height: 160px;
    }
}
@media (max-width: 700px) {
    h1 {
        font-size: 40px;
    }

    section p, section p ul, section p ol {
        text-align: left;
    }
    section h2 {
        font-size: 35px;
    }
    section h3 {
        font-size: 30px;
    }
    section p, section p ul, section p ol {
        font-size: 17px;
    }
    section p li, section p ul li, section p ol li {
        font-size: 17px;
    }
    section .fig {
        font-size: 14px;
    }

    header {
        height: 480px;
    }
    header .logo {
        padding: 0;
        width: 100vw;
    }
    header .logo img {
        float: left;
    }
    header .logo a {
        left: 33vw;
    }
    header ul {
        display: block;
        margin-top: 80px;
        width: 100vw;
    }

    footer {
        height: 320px;
        flex-direction: column-reverse;
        text-align: justify;
        justify-content: space-evenly;
    }
}