* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}
* ::-webkit-scrollbar {
    width: 4px;
}
* ::-webkit-scrollbar-track {
    background: #f4f4f4;
}
* ::-webkit-scrollbar-thumb {
    background: #4c7ea4;
    border-radius: 5px;
}
* ::-webkit-scrollbar-thumb:hover {
    background: #00487e;
}
* body {
    overflow-x: hidden;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 3.2vw;
    padding: 15px;
    margin-top: 15px;
    color: #00487e;
    text-align: center;
}

section {
    font-family: "Quicksand", sans-serif;
    margin: 15px 20vw;
}
section h2, section h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #00487e;
    border-bottom: #00487e solid 1px;
}
section h2 {
    font-size: 2.7vw;
}
section h2 i {
    font-size: inherit;
}
section h3 {
    font-size: 2.5vw;
}
section h3 i {
    font-size: inherit;
}
section p {
    padding: 15px 0;
    text-align: justify;
    font-size: 1.15vw;
}
section p a, section p i {
    padding: none !important;
    text-align: inherit !important;
    font-size: inherit !important;
}
section ul, section ol {
    padding: 15px 0;
    text-align: justify;
    font-size: 1.15vw;
}
section ul li, section ol li {
    font-size: 1.15vw;
    text-align: justify;
}
section .fig {
    font-size: 1vw;
    padding: 15px 25px;
    line-height: 1.4;
}
section .fig a {
    font-size: 1vw;
}
section a {
    text-decoration: none;
    color: #4c7ea4;
}
section a:hover {
    color: #00487e;
}
section img {
    max-width: 100%;
    height: auto;
    padding: 0 2.5vw;
}
section i {
    font-size: 25px;
    padding: 1px;
}

header {
    background-color: #00487e;
    background-image: url("../images/navigation/banner_background_light_small.jpg");
    background-size: cover;
    width: 100vw;
    height: 80px;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
header .logo {
    padding: 0 15px;
}
header .logo img {
    max-height: 80px;
    object-fit: contain;
    padding: 5px 5px;
    position: absolute;
    left: 0;
    top: 0;
}
header .logo a {
    position: absolute;
    padding: 20px 0;
    text-decoration: none;
    color: #f4f4f4;
    left: 80px;
    top: 0;
}
header .logo a:hover {
    color: #edd59d;
}
header ul {
    display: flex;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}
header ul li {
    margin: 0 3px;
    padding: 20px 17px;
}
header ul li a {
    text-decoration: none;
    color: #f4f4f4;
}
header ul li a:hover {
    color: #edd59d;
}

footer {
    background-color: #00487e;
    background-image: url("../images/navigation/banner_background_light_small.jpg");
    background-size: cover;
    width: 100vw;
    height: 160px;
    font-family: "Quicksand", sans-serif;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
footer div {
    padding: 10px;
}
footer div h3 {
    color: #edd59d;
}
footer div a {
    text-decoration: none;
    color: #f4f4f4;
}
footer div a i {
    font-size: 25px;
    padding: 1px;
}
footer div a:hover {
    color: #edd59d;
    cursor: pointer;
}

#credits {
    display: flex;
    align-items: center;
}
#credits p {
    padding: 10px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 4vw;
    }

    section {
        margin: 15px 15vw;
    }
    section h2 {
        font-size: 3.5vw;
    }
    section h3 {
        font-size: 3vw;
    }
    section p {
        font-size: 2vw !important;
    }
    section ul, section ol {
        font-size: 2vw !important;
    }
    section ul li, section ol li {
        font-size: 2vw !important;
    }
    section .fig, section .fig a {
        font-size: 1.5vw;
    }

    header {
        display: block;
    }
}
@media (max-width: 900px) {
    section {
        margin: 15px 10vw;
    }

    header {
        height: 160px;
    }
    header ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 40px;
    }
    header ul li {
        padding: 20px 7px;
    }

    footer {
        height: 160px;
    }
}
@media (max-width: 700px) {
    h1 {
        font-size: 40px;
    }

    section h2 {
        font-size: 35px;
    }
    section h3 {
        font-size: 30px;
    }
    section p {
        text-align: left;
        font-size: 17px !important;
    }
    section ul, section ol {
        text-align: left;
        font-size: 17px !important;
    }
    section ul li, section ol li {
        font-size: 17px !important;
    }
    section .fig, section .fig a {
        font-size: 14px;
    }

    header {
        height: 480px;
    }
    header .logo {
        padding: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    header .logo a {
        position: static;
    }
    header ul {
        display: block;
        margin-top: 80px;
        width: 100vw;
    }

    footer {
        height: 500px;
        flex-direction: column-reverse;
        text-align: justify;
        justify-content: space-evenly;
    }

    #credits {
        flex-direction: column;
    }
}