section {
    margin: 15px 0;
}
section .toc {
    position: fixed;
    width: 20vw;
    padding: 0 2.5vw;
}
section .toc h2 {
    font-size: 1.2vw;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
section .toc ul {
    height: 50vh;
    overflow: overlay;
}
section .toc ul li {
    list-style: none;
    text-align: left;
    font-size: 1vw;
    padding-bottom: 10px;
}
section .content {
    margin: 0 20vw;
}

footer {
    position: relative;
    z-index: 1;
}

@media (max-width: 1024px) {
    section .toc {
        padding: 0 2.5vw;
        width: 15vw;
    }
    section .toc h2 {
        font-size: 1.5vw;
    }
    section .toc ul li {
        font-size: 1.2vw !important;
    }
    section .toc .content {
        margin: 0 15vw !important;
    }
}
@media (max-width: 700px) {
    section .toc {
        display: none !important;
    }

    .content {
        margin: 0 10vw !important;
    }
}