section {
    margin: 15px 0;
}
section .toc {
    position: fixed;
    width: 20vw;
    padding: 20px;
}
section .toc h2 {
    font-size: 1vw;
}
section .toc ul li {
    list-style: none;
    text-align: left;
    font-size: 1vw;
    padding-bottom: 10px;
}
section .content {
    margin: 0 20vw;
}