<footer>

  <div>
    <h3>Contact us</h3>
    <p>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    {% include twitter_link.html %}{% include github_link.html %}
  </div>

  <div id="credits">
    <p>Projects in the Digital Pasts Lab have been supported by the Ministry of Science & Technology, Israel, Grant 3-16464, and the Israel Science Foundation, Grant 457/19</p>
    <p>We were kindly provided permission to use all images of cuneiform tablets on this site by Klaus Wagensonner <a href="https://babylonian-collection.yale.edu/" target="_blank">&copy Yale Babylonian Collection</a></p>
    <p>Website developed by <a href="https://yale.academia.edu/AvitalRomach" target="_blank">Avital Romach</a></p>
  </div>
  
</footer>
