<div class="container">
  <h3 id="babylonian-engine"><a href="docs/BEn.html">Babylonian Engine</a></h3>
  <img src="images/index/YPM_BC_021489_BEn.jpg" alt="BEn-image" class="image"/>
  <div class="middle">
    <a href="docs/BEn.html">Assyriology in the 21<sup>st</sup> century</a>
  </div>
</div>

<div class="container">
  <h3 id="mapa"><a href="docs/MAPA.html">Mesopotamian Ancient Place-names Almanac</a></h3>
  <img src="images/index/Satellitenbild%20von%20Uruk%202001.jpg" alt="MAPA-image" class="image"/>
  <div class="middle">
    <a href="docs/MAPA.html">Mapping the city and orchards of Gilgamesh</a>
  </div>
</div>

<div class="container">
  <h3 id="international-dh-program"><a href="docs/DH_program.html">International Digital Humanities Program</a></h3>
  <img src="images/index/program_170921.png" alt="DH-program-image" class="image"/>
  <div class="middle">
    <a href="docs/DH_program.html">Training a new generation of digital humanists</a>
  </div>
</div>