<div class="members">
        
  <div class="member">
    <div class="container">
      <img src="../images/Members/Shai.jpg" alt="member image">
    </div>
    <div class="text">
      <p>Dr Shai Gordin | Head of Digital Pasts Lab</p>
      <p>
        <a href="https://twitter.com/ShGordin"><i class="fab fa-twitter"></i></a>
        <a href="https://orcid.org/0000-0002-8359-382X"><i class="fab fa-orcid"></i></a>
        <a href="https://ariel.academia.edu/ShaiGordin" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        <a href="https://scholar.google.com/citations?user=A5okNFcAAAAJ&hl=en&oi=ao"><i class="fab fa-google"></i></a>
      </p>
    </div>
  </div>
  
  <div class="member">
    <div class="container">
      <img src="../images/Members/Jacob.jpg" alt="member image">
    </div>
    <div class="text">
      <p>Jacob Robinson | Administrative manager</p>
      <p>Projects: <a href="projects.html#3d-scanning-of-cuneiform-tablets">3D scanning</a></p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="https://source.unsplash.com/900x900/?vegetable" alt="member image">
    </div>
    <div class="text">
      <p>Ireman Brauner | MA research fellow (computer sciences)</p>
      <p>Projects: <a href="projects.html#ocr-for-cuneiform-hand-copies">cuneiform OCR</a></p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Samuel.jpg" alt="member image">
    </div>
    <div class="text">
      <p>Samuel Clark | PhD candidate (humanities)</p>
      <p>Projects: <a href="projects.html#mesopotamian-ancient-place-names-almanac-mapa">MAPA</a></p>
      <p>
        <a href="https://ariel.academia.edu/ShmuelClark/" target="_blank"><i class="fas fa-graduation-cap"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="https://source.unsplash.com/900x900/?fruit" alt="member image">
    </div>
    <div class="text">
      <p>Gai Gutherz | MA research fellow (computer sciences)</p>
      <p>Projects: <a href="projects.html#machine-translation-of-akkadian">Akkadian machine translation</a></p>
      <p>
        <a href="https://github.com/gaigutherz"><i class="fab fa-github"></i></a>
        <a href="https://scholar.google.com.tw/citations?user=w45gs64AAAAJ&hl=en&oi=ao"><i class="fab fa-google"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Stav.jpeg" alt="member image">
    </div>
    <div class="text">
      <p>Stav Klein | Program developer</p>
      <p>Projects: <a href="projects.html#babylonian-engine">BEn</a>, <a href="projects.html#online-cuneiform-edition-editor">Text edition tool</a></p>
      <p>
        <a href="https://github.com/stavkl"><i class="fab fa-github"></i></a>
        <a href="https://stavkl.github.io/linguistics-for-nlp/" target="_blank"><i class="fas fa-desktop"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="https://source.unsplash.com/900x900/?antique" alt="member image">
    </div>
    <div class="text">
      <p>Avital Romach | MA research fellow (humanities)</p>
      <p>Projects:
        <a href="projects.html#babylonian-engine">BEn</a>,
        <a href="projects.html#online-cuneiform-edition-editor">Text edition tool</a>,
        <a href="projects.html#cuneiform-recognition-marie">stroke recognition</a>,
        <a href="projects.html#ocr-for-cuneiform-hand-copies">cuneiform OCR</a>,
        <a href="projects.html#ocr-for-cuneiform-text-editions">edition OCR</a>
      </p>
      <p>
        <a href="https://telaviv.academia.edu/AvitalRomach" target="_blank"><i class="fas fa-graduation-cap"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Moshe.jpg" alt="member image">
    </div>
    <div class="text">
      <p>Moshe Stekel | MA research fellow (computer sciences)</p>
      <p>Projects:
        <a href="projects.html#word-sense-induction-for-low-resource-semitic-languages">word-sense induction</a>
      </p>
    </div>
  </div>
</div>