<div class="members">
        
  <div class="member">
    <div class="container">
      <img src="../images/Members/Shai.jpg" alt="member image">
    </div>
    <div class="text">
      <h4>Dr Shai Gordin | Head of Digital Pasts Lab</h4>
      <p>
        <a href="https://twitter.com/ShGordin" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://orcid.org/0000-0002-8359-382X" target="_blank"><i class="fab fa-orcid"></i></a>
        <a href="https://ariel.academia.edu/ShaiGordin" target="_blank"><i class="fas fa-graduation-cap"></i></a>
        <a href="https://scholar.google.com/citations?user=A5okNFcAAAAJ&hl=en&oi=ao" target="_blank"><i class="fab fa-google"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="https://source.unsplash.com/900x900/?fruit" alt="member image">
    </div>
    <div class="text">
      <h4>Matthew D. Howland | Visiting research fellow (humanities)</h4>
      <p>Projects: 
        <a href="projects.html#archaeomagnetic-analysis-of-ancient-clay-bricks">Archaeomagnetic analysis</a>
      </p>
      <p>
        <a href="https://telaviv.academia.edu/MatthewHowland" target="_blank"><i class="fas fa-graduation-cap"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Samuel.jpg" alt="member image">
    </div>
    <div class="text">
      <h4>Samuel Clark | PhD candidate (digital humanities)</h4>
      <p>Projects: 
        <a href="projects.html#mesopotamian-ancient-place-names-almanac-mapa">MAPA</a>
      </p>
      <p>
        <a href="https://ariel.academia.edu/ShmuelClark/" target="_blank"><i class="fas fa-graduation-cap"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Stav.jpeg" alt="member image">
    </div>
    <div class="text">
      <h4>Stav Klein | PhD candidate (digital humanities) </h4>
      <p>Projects: 
        <a href="projects.html#babylonian-engine-ben">BEn</a>
      </p>
      <p>
        <a href="https://github.com/stavkl" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://stavkl.github.io/linguistics-for-nlp/" target="_blank"><i class="fas fa-desktop"></i></a>
      </p>
    </div>
  </div>
        
  <div class="member">
    <div class="container">
      <img src="../images/Members/MatthewOng.jpeg" alt="member image">
    </div>
    <div class="text">
      <h4>Matthew Ong | PhD research fellow (humanities)</h4>
      <p>Projects:
        <a href="projects.html#metaphor-detection-in-akkadian-letters">Metaphor Detection</a>
      </p>
      <p>
        <a href="https://ucberkeley.academia.edu/MatthewOng" target="_blank"><i class="fas fa-graduation-cap"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Luis.jpeg" alt="member image">
    </div>
    <div class="text">
      <h4>Luis Sáenz | PhD research fellow (humanities)</h4>
      <p>Projects:
        <a href="projects.html#machine-translation-of-akkadian">Akkadian machine translation</a>,
        <a href="projects.html#3d-scanning-of-cuneiform-tablets">3D scanning</a>,
        <a href="projects.html#babylonian-engine-ben">BEn</a>,
        <a href="projects.html#cure-cuneiform-recognition">cuneiform OCR</a>
      </p>
      <p>
        <a href="https://uni-heidelberg.academia.edu/LuisSaenz" target="_blank"><i class="fas fa-graduation-cap"></i></a>
      </p>
    </div>
  </div>
        
  <div class="member">
    <div class="container">
      <img src="../images/Members/Morris.png" alt="member image">
    </div>
    <div class="text">
      <h4>Morris Alper | MA research fellow (computer sciences)</h4>
      <p>Projects: 
        <a href="projects.html#cured-cuneiform-recognition-documents">edition OCR</a>, 
        <a href="projects.html#cure-cuneiform-recognition">cuneiform OCR</a>
      </p>
      <p>
        <a href="https://github.com/morrisalp" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://morrisalp.github.io/" target="_blank"><i class="fas fa-desktop"></i></a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="https://source.unsplash.com/900x900/?vegetable" alt="member image">
    </div>
    <div class="text">
      <h4>Ireman Brauner | MA research fellow (computer sciences)</h4>
      <p>Projects: 
        <a href="projects.html#cure-cuneiform-recognition">cuneiform OCR</a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Danielle.jpg" alt="member image">
    </div>
    <div class="text">
      <h4>Danielle Kapon Epshtain | MA research fellow (computer sciences)</h4>
      <p>Projects: 
        <a href="projects.html#deeplomatics">Deeplomatics</a>
      </p>
      <p>
        <a href="https://il.linkedin.com/in/danielle-kapon-687726bb" target="_blank"><i class="fab fa-linkedin"></i></a>
      </p>
    </div>
  </div>
        
  <div class="member">
    <div class="container">
      <img src="../images/Members/Kostiya.jpg" alt="member image">
    </div>
    <div class="text">
      <h4>Kostiya Margulyan | MA research fellow (digital archaeology)</h4>
      <p>Projects: 
        <a href="projects.html#3d-scanning-of-cuneiform-tablets">3D scanning</a>
      </p>
    </div>
  </div>

  <div class="member">
    <div class="container">
      <img src="../images/Members/Avital.jpeg" alt="member image">
    </div>
    <div class="text">
      <h4>Avital Romach | MA research fellow (humanities)</h4>
      <p>Projects:
        <a href="projects.html#babylonian-engine-ben">BEn</a>,
        <a href="projects.html#cure-cuneiform-recognition">cuneiform OCR</a>,
        <a href="projects.html#cured-cuneiform-recognition-documents">edition OCR</a>
      </p>
      <p>
        <a href="https://yale.academia.edu/AvitalRomach" target="_blank"><i class="fas fa-graduation-cap"></i></a>
      </p>
    </div>
  </div>

</div>
